@media (max-width: 1350px) {

    .card-1-left__serpentine {
        max-width: 150%;
        transform: translate(-25%, 20%);
    }

    .card-1-left__phone {
        display: none;
    }
}

@media (max-width: 1220px) {
    /* COOKIE */
    .cookie {
        padding: 20px 45px 20px 20px;
    }
    .cookie__text {
        margin-right: 20px;
    }

    .cookie__buttons {
        flex-direction: column; 
    }

    /* TITLE block */
    .title {
        font-size: 40px;
    }

    /* TEXT block */
    .text {
        font-size: 16px;
    }

    /* HEADER */
    .header__bottom {
        padding: 7px 60px;
    }
 
    /* HERO */
    .hero {
        align-items: flex-end;
        margin-left: 0px;
        margin-bottom: 40px;
    }

    .hero-left {
        padding: 16px;
    }

    .hero-left__btn {
        width: 100%;
    }

    .hero-right {
        max-width: 350px;
        align-self: flex-end;
    }

    .hero-right__lolipop {
        max-width: 114%;
        transform: translate(-61%, 17%);
    }

    /* ABOUT */
    .about-wrapper {
        justify-content: space-between;
        flex-direction: column;
        gap: 40px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .about__title {
        margin-left: 16px;
        margin-bottom: 30px;
    }


    .about__text {
        font-size: 24px;
        margin-left: 0px;
        max-width: 280px;
    }

    .about__text::after {
        width: 235px;
        height: 29px;
        transform: translate(16%, -99%);
    }

    .about__cards {
        justify-content: space-between;
    }

    .about-card__title {
        font-size: 32px;
    }

    .about-card__text {
        font-size: 16px;
    }

    /* BENEFITS */
    .card-1__left {
        display: none;
    }

    .card-2__bag {
        display: none;
    }
}

@media (max-width: 970px) {

    /* HEADER */
    .header__bottom {
        padding: 7px 16px;
    }

    .btn--mobile-none {
        display: none !important;
    }
    
    .burger-btn {
        display: flex;
    }

    /* NAV block*/
    .nav--padding {
        padding: 0;
    }

    .hero {
        flex-direction: column;
        align-items: start;
    }

    /* FORM block */
    .form {
        padding: 20px 16px;
        max-width: 335px;
        gap: 10;
    }
    .btn--short {
        max-width: 100%;
      }

    /* SUCCESS block */

    .success {
        max-width: 343px;
        width: 100%;
        padding: 40px 20px;
    }

    .success__title {
        font-size: 24px;
    }

    .success__text {
        font-size: 20px;
    }
    /* HERO */
    .hero-left__btn {
        margin-bottom: 125px;

    }

    /* ABOUT */
    .about-decorative {
        display: none;
    }

    /* HOW WORKS */

    .ticker__item {
        font-size: 48px;
    }

    .how-works__phone {
        max-width: 228px;
    }


    /* STATISTICS */
    .statistics__wrapper {
        flex-direction: column;
        gap: 40px;
        align-items: start;
    }

    .statistics-item {
        max-width: 350px;
        margin-left: 16px;
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .statistics-item__title {
        font-size: 40px;
        padding-bottom: 0;
    }

    .statistics-item__text {
        font-size: 20px;
        display: flex;
        flex-wrap: nowrap;
    }

    /* BENEFITS */
    .benefits {
        padding-bottom: 80px; 
    }

    .benefits-budss__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .benefits-budss__text {
        max-width: 375px;
        font-size: 24px;
    }

    .benefits-budss__text::after {
        width: 244px;
        height: 22px;
        transform: translate(-98%, -27%);
    }


    .benefits-cards {
        margin: 0 16px;
        display: flex;
        flex-direction: column;

    }

    .benefits-cards__title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .benefits-cards__text {
        font-size: 16px;
        max-width: 400px;
    }

    .card {
        padding: 20px 20px 20px;
    }


    .benefits-cards__card-1 {
        padding: 20px 20px 200px 20px;
        display: flex;
        flex-direction: column;
    }

    .card-1-left {
        display: flex;
        width: 300px;
    }

    .card-1-left__serpentine {
        width: 70%;
        transform: translate(-35%, 65%);
    }

    .card-1-left__phone {
        display: block;
        width: 35%;
        transform: translate(-40%, 63%);
        rotate: -32deg;
    }

    .card-1-left__stars {
        transform: translate(300%, 200%);
    }

    .card-1-right {
        padding-top: 0px;
    }

    .benefits-cards__card-2 {
        padding-bottom: 130px;
    }

    .card-2__bag {
        display: block;
        transform: translate(10%, 280%);
    }

    .card-2__bag2 {
        transform: translate(150%, 180%);
    }

    .card-2__bag3 {
        width: 100px;
        transform: translate(250%, 115%);
    }

    .benefits-cards__card-3 {
        padding-bottom: 115px;
    }

    .card-3__blob {
        transform: translate(40%, 85%)
      }

      .benefits-cards__card-4 {
        padding-bottom: 190px;
    }

    .card-4__blob {
        width: 143px;
        transform: translate(85%, 70%);
      }

    /* BRAND */

    .brand {
        padding-top: 40px;
    }

    .brand-grow {
        padding: 20px 40px;
        margin: 0 16px 40px;
    }

    .brand-grow__title {
        font-size: 40px;
        text-align: center;
    }

    .brand-social__text {
        margin-bottom: 20px;
    }

    .brand-grow__btn {
        padding: 16px 90px;
    }
   
    .brand-grow__btn:focus {
        background: var(--blue-purpl-2);
        border: 2px solid var(--light-purp);
        padding: 14px 89px;
    }
      
    .brand-grow__btn:active {
        background: var(--purpl);
        padding: 14px 89px;
        border: 2px solid var(--purpl);
    }


    .brand-social {
        flex-direction: column;
        margin: 0 16px;
    }

    .brand-social__title {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .brand-social__icons {
        margin-top: 0;
        display: grid;
        grid-template-rows: repeat(2, [row] 50%);
        gap: 0px 28px;
        margin-bottom: 90px;
    }
    
    .brand__logos {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: start;
        margin: 0 16px 0 16px;
    }

    .brand-logo__1 {
        width: 91px;
        /* border: 2px solid yellow; */
        order: -1;
    }
    
    .brand-logo__2 {
        width: 150px;
        /* border: 2px solid green; */
        order: -2;
    }

    .brand-logo__3 {
        width: 131px;
        /* border: 2px solid red; */
        order: -3;
    }

    .brand-logo__4 {
        width: 197px;
        /* border: 2px solid blue; */
        order: -1;
    }

    .brand-logo__5 {
        width: 128px;
    }


    /* FOOTER */
.footer__wrapper {
    margin: 20px 16px 0 16px;
    flex-direction: column;
    align-items: start;
}



.nav-list--column {
    flex-direction: column;
}

.nav-list__link--none {
    display: block;
}

.download--column {
    flex-direction: column;
}

.btn--margin {
    margin: 40px 0;
}

.footer-bottom__links {
    flex-direction: column;
}

.footer-bottom__links {
    display: none;
}

.footer-bottom {
    padding:  10px  0 20px 16px;
}

.padding-right {
    padding: 0;
}

}

@media (max-width: 768px) {
  /* COOKIE */
  .cookie {
    flex-direction: column;
    padding: 20px;
}

.cookie__text {
    margin-bottom: 40px;
}

}