:root {
    --white: #ffff;
    --light: #f5f5f5;
    --border-input-grey: #F1F1F1;
    --dark-brown: #181818;
    --carrot: #ffaa4c;
    --light-purp: #BA8BF3;
    --blue-purpl: #A64CED;
    --blue-purpl-2: #954ced;
    --purpl: #7B31D4;
    --turquoise: #2fdbbc;
    --light-telegraph: #CFCFCF;
    --light-grey: #b9b9b9;
    --light-grey-form: #A7A7A7;
    --light-grey-2: #b9b9b96b;
    --grey: #444444;
    --cookie-grey: #383838;
    --black: #000000;
    --red: #EC1211;
}