/* HEADER */
.header {
  margin-bottom: 82px;
  height: 100%;
}

.header__top {
  background-color: var(--carrot);
}

.header__bottom {
  position: relative;
  padding: 7px 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fixed {
  max-width: 1440px;
  background-color: var(--dark-brown);
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
