@font-face {
  font-family: "Outfit-Light";
  src: url(./outfit-latin-300-normal.woff2), url(../Outfit-Light.woff);
  font-style: normal;
  /* font-weight: 300; */
}

@font-face {
  font-family: "Outfit-Regular";
  src: url(../fonts/Outfit-Regular.woff2), url(../fonts/Outfit-Regular.woff);
  font-style: normal;
  /* font-weight: 400; */
}

@font-face {
  font-family: "Outfit-Medium";
  src: url(../fonts/Outfit-Medium.woff2), url(../fonts/Outfit-Medium.woff);
  font-style: normal;
  /* font-weight: 500; */
}

@font-face {
  font-family: "Outfit-SemiBold";
  src: url(../fonts/Outfit-SemiBold.woff2), url(../fonts/Outfit-SemiBold.woff);
  font-style: normal;
  /* font-weight: 600; */
}

@font-face {
  font-family: "Outfit-Bold";
  src: url(../fonts/Outfit-Bold.woff2), url(../fonts/Outfit-Bold.woff);
  font-style: normal;
  /* font-weight: 700; */
}