.cookie {
    max-width: 1285px;
    width: 92%;
    border-radius: 16px;
    background-color: var(--white);
    display: flex;
    justify-content: space-around;
    padding: 30px 60px 30px 30px;
    margin: 0 auto;
    position: fixed;
    bottom: 20px;
    left: 16px;
    right: 16px;
    z-index: 100;
}

.cookie__text {
    max-width: 783px;
    color: var(--cookie-grey);
    font-family: "Outfit-Light";
    font-size: 20px;
    line-height: 140%;
    margin-right: 140px;
}

.cookie__buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


